/* ========= Reset ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  color: #111;
  background: #fff;
  line-height: 1.5;
}

/* ========= Header ========= */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

.header h1 {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.header p {
  font-size: 0.65rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.menu-btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* ========= Hero Section ========= */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
}

.hero img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  bottom: 12%;
  left: 1.5rem;
  right: 1.5rem;
}

.badge {
  display: inline-block;
  padding: clamp(.4rem, 1vw, .6rem) clamp(1rem, 2vw, 1.4rem);
  border: 1px solid white;
  border-radius: 30px;
  font-size: clamp(.75rem, 2vw, 1rem);
  margin-bottom: 12rem;
}

.hero-subtitle {
  font-size: clamp(1.8rem, 5vw, 3.2rem);
  font-weight: 300;
  margin-bottom: 1rem;
  transform: translateY(-100px);
}

.hero-heading {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  max-width: 50ch;
  opacity: 0.9;
  margin-bottom: 1.5rem;
  transform: translateY(-100px);
}

.btn {
  background: white;
  color: black;
  font-size: clamp(.9rem, 2vw, 1.1rem);
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

/* ========= Featured Yachts ========= */
.fleet {
  padding: 4rem 1.5rem;
  display: grid;
  text-align: center;
}

.fleet-subtitle {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .6;
  margin: 0;
}

.fleet-heading {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 100;
  padding-bottom: 50px;
}

.fleet-title {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 0.5px;
}

.card {
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 16px;
}

.card-info {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  padding: 1.1rem;
}

/* ========= Footer ========= */
footer {
  padding: 2rem 1rem;
  background: #f5f5f5;
  text-align: center;
  font-size: .9rem;
}

/* ========= Desktop ========= */
@media (min-width: 768px) {

  .hero h2 {
    font-size: 3.5rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
